*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    font-size: 12px;
}
a{
    text-decoration: none;
}

.red{
    border: 1px solid red;
    box-sizing: border-box;
}
.orange{
    border: 1px solid orange;
    box-sizing: border-box;
}
.flex{
    display: flex;
}

.j-s{
    justify-content: center;
}

.a-c{
    align-items: center;
}
.c-s{
    cursor: pointer;
}
.mr{
    margin: 0 auto;
}